<footer class="footer">
    <div class="footerAuxiliar">
        <div class="div_footerButton">
            <button class="footerButton" id="footer_href_quemSomos">
                <span class="box">
                    Quem Somos
                </span>
            </button>
        </div>
        <div class="projeto">
            <h1 class="projeto_texto">Um projeto em parceria com</h1>
            <div class="projeto_parceiros">
                <img src="{{ url_for('static', filename='images/Logo Poul (Logotipo) (3).png') }}" alt="Logo Poul" class="projeto_parceiros_poul">
                <img src="{{ url_for('static', filename='images/inteliLogo.png') }}" alt="Logo Inteli" class="projeto_parceiros_inteli">
                <img src="{{ url_for('static', filename='images/cvmLogo.png') }}" alt="Logo CVM" class="projeto_parceiros_cvm">
            </div>
        </div>
        <button class="footerButton">
            <span class="box" id="footer_href_contato">
                Contato
            </span>
        </button>
    </div>
    <div class="direitos">
        <h3>&#169 2023 all rights reserved</h3>
    </div>
</footer>