<script>
    document.getElementById('header_href_quemSomos').onclick = function () {
        window.location.href = '/quemSomos';
    };


    document.getElementById('header_href_index').onclick = function () {
        window.location.href = '/';
    };


    document.getElementById('header_href_contato').onclick = function () {
        window.location.href = '/contato';
    };

    document.getElementById('footer_href_quemSomos').onclick = function () {
        window.location.href = '/quemSomos';
    };

    document.getElementById('footer_href_contato').onclick = function () {
        window.location.href = '/contato';
    };
</script>